<!DOCTYPE html>
<html>
    <head>
        <title>Главная страница</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>Добро пожаловать на мою страничку!!</h1>
        <article>
            <section class="green">
                <img src="https://kaifolog.ru/uploads/posts/2020-06/1592383368_002.jpg" alt="картинка злого кота с ушками">
                <p class="str">Милый котик!! Но немного злой >:)</p>
            </section>
            <section class="yellow">
                <img src="https://masterpiecer-images.s3.yandex.net/8a5134057cbd11eea426429f31467427:upscaled" alt="2 супер милых котика">
                <p class="str">2 очень похожих кота!! <br/> Вы только посмотрите на них 😍😍😍</p>
            </section>
            <section class="green">
                <img src="https://ir.ozone.ru/s3/multimedia-o/c1000/6704967372.jpg" alt="плюшевые котики">
                <p class="str">Плюшевый котик с Озона!</p>
            </section>
        </article>
        <article>
            <a href="/">Обратно</a>
            <a href="/skam" target="blank">Обратно (НЕ СКАМ!!!)</a>
        </article>
    </body>
</html>